:root {
	box-sizing: border-box;
  --main-size: 30rem; /* 480px */
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.flex-top-box {
  width: min(max(var(--main-size), 100%), calc(var(--main-size)));
  min-height: var(--main-size);
  border: 0.0625rem solid black;
  background-color: #D2DAED;
  /*background-color: #EA906C;*/
  display: flex;
  flex-flow: row wrap;
}
.flex-box {
  min-height: 2.5rem;
  flex: 1 0 33.3%;
  display: flex;
  flex-flow: row wrap;
  border: 0.0625rem solid goldenrod;
}
.main-container {
  display: flex;
  height: 100vh;
}
.container {
  margin: auto auto;
  flex: 1 0 auto;
}
.heading {
  width: min(max(var(--main-size), 100%), calc(var(--main-size)));
  min-height: calc(var(--main-size) / 4);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  margin: 0;
}
.box {
  margin: 0 auto;
}

.tile {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
.tile:hover {
  cursor: pointer;
}
.tile:active {
  background-color: #93ADCC;
}
.circle {
  background-image: url('./images/circle.svg');
}
.cross {
  background-image: url('./images/cross.svg');
}